@font-face {
    font-family: "OngleleafYounggeun";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYounggeun/OngleleafYounggeun.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYounggeun/OngleleafYounggeun.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYounggeun/OngleleafYounggeun.ttf") format("truetype");
    font-display: swap;
}

.OngleleafYounggeun {
    font-family: "OngleleafYounggeun";
}
